.ui {
  .button {
    background: #333;
    color: #fff;
    
    &:hover {
      background: #000;
      color: #fff;
    }
  }

  .button.btn-tile-submit.right-arrow,
  .button.btn-tile-submit.down-arrow {
    position: absolute;
    top: 0;
    left: 30px;
    height: 25px;
    width: 25px;
    padding: 0;
  }
  .button.btn-tile-submit.down-arrow {
    top: 26px;
    left: 2px;
  }
}