/* do we need Sass ? */

.mt-60px {
  margin-top: 60px;
}
.scrabble-container {
  /* Set fixed min width so table doesn't get crumpled - can fix for mobile later */
  min-width: 756px;
  padding-left: 0;
  font-size: 1em;
}

.scrabble-container .ui.input input[type=text] {
  padding: 3px 0;
  text-align: center;
}

.middle-tile {
  background: red;
}

.ui.icon.button.info-popover {
  margin-left: 8px;
  font-size: 1.1rem;
  border-radius: .2rem;
  padding: 2px 1px;
}

.big-underscore {
  font-size: 2rem;
  position: relative;
  top: -3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1px;
}

.ui.label {
  background-color: #fff;
}

.ui.vertical.menu.scrollable {
  display: block;
  height: 342px;
  width: 20.6rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hover-word {
  background: green!important;
}

.btn-get-word {
  width: 110px;
}

.ui.input.rack {
  width: 160px;
  height: 36px;
}

.ui.input.rack input {
  letter-spacing: 5px;
}

.ui.input.rack input::placeholder {
  letter-spacing: 1px;
}

.ui .selectable {
  cursor: pointer;
}

.ui.table {
  table-layout: fixed;
  width: 450px; /* 40 * 15 */
}
.ui.table td {
  height: 30px;
  width: 30px;
  padding: 0;
}

.ui.table tr.highlight-word-location,
.ui.table td.highlight-word-location {
  box-shadow: 0px 0px 0px red inset;
}
.ui.table tr.highlight-word-location,
.ui.table td.highlight-word-location {
  background: yellow !important;
  color: blue !important;
}



.ui.button {
  background: #333;
  color: #fff;
}
.ui.button:hover {
  background: #000;
  color: #fff;
}

.ui.button.btn-tile-submit {
  position: absolute;
  top: 0;
  left: 30px;
  height: 25px;
  width: 25px;
  padding: 0;
}
.ui.button.btn-tile-submit.down-arrow,
.ui.button.btn-tile-submit.move-down {
  top: 26px;
  left: 2px;
}